

@import "reset.css";



body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif; /* Roboto 폰트로 변경 */
  background-color: #fafafa; /* 조금 더 밝은 배경색 */
}

.container {
  width: 100%;
  padding: 16px;
  overflow: hidden;
}

.navigation {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 16px;
}

.back-button {
  font-size: 24px;
  background: #f0f0f0; /* 버튼 배경색 추가 */
  border: none;
  cursor: pointer;
  margin-right: 16px;
  padding: 8px 12px; /* 패딩 추가 */
  border-radius: 4px; /* 경계선 둥글게 */
  transition: background-color 0.3s; /* 호버 효과 */
}

.back-button:hover {
  background-color: #e0e0e0; /* 호버 시 배경색 변경 */
}

.category h2 {
  font-size: 18px; /* 글씨 크기 조정 */
  color: #333;
  margin-bottom: 10px; /* 간격 추가 */
}

.cards {
  display: flex;
  overflow-x: auto;
  margin-bottom: 16px;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.card {
  flex: 0 0 30%;
  height: 180px; /* 카드의 높이를 증가시킴 */
  background-color: #fff;
  display: flex;
  flex-direction: column; /* 컨텐츠를 세로로 배열 */
  align-items: center;
  justify-content: space-between; /* 이미지와 텍스트 사이의 간격 */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin-right: 10px;
  scroll-snap-align: start;
}

.card img {
  width: 100%; /* 이미지의 너비 */
  height: 80%; /* 이미지의 높이 */
  object-fit: cover; /* 이미지 비율 유지 */
  border-top-left-radius: 8px; /* 이미지 상단 둥글게 */
  border-top-right-radius: 8px;
}

.card span {
  font-size: 14px; /* 텍스트 크기 조정 */
  color: #333;
  padding: 5px; /* 텍스트 패딩 */
}

